/MainWpfApp/bin
/MainWpfApp/obj
/MainWebApiAuth/bin
/MainWebApiAuth/obj
/WpfApp1/bin
/WpfApp1/obj
/.vs/WebApiAuth/v16/.suo
/.vs/WebApiAuth/DesignTimeBuild/.dtbcache.v2
/WebApiServer/bin
/WebApiServer/obj
